@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string name = "Edine";
    int age = 19;
}

<div class="text-center">
    <h1 class="display-4">Welcome @name </h1>
    @if (age > 18)
    {
        <p>You are eligible to vote!</p>
    }else if (age < 18)
    {
        <p>You are not eligible to vote</p>
    }
    else
    {
        <p>Invalid Age</p>
    }

</div>