@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    string name = "Edine";
    int age = 19;
    char grade = 'A';
    List<string> favoriteFoods = new List<string>(){"fries","donut","cakes","icecream"};
}

<div class="text-center">
    <h1 class="display-4">Welcome @name </h1>
    @if (age > 18)
    {
        <p>You are eligible to vote!</p>
    }else if (age < 18)
    {
        <p>You are not eligible to vote</p>
    }
    else
    {
        <p>Invalid Age</p>
    }

    @switch(grade){
        case 'A':<h4>Excellent job!</h4>
            break;
        case 'B':<h4>Well done!</h4>
            break;
        case 'C':<h4>Needs some work!</h4>
            break;
        case 'D':<h4>You passed</h4>
            break;
        case 'F':<h4>You failed, better try next time</h4>
            break;
        default:<h4>Invalid grade!</h4>
            break;
    }
    
    <h4>Your favorites foods</h4>
    @{ 
        int counter = 0;
    }
    @while(counter < @favoriteFoods.Count)
    {
        <li>@favoriteFoods[counter++]</li>
    }

</div>